GOOGLE_MAPS_API_KEY=your_google_maps_api_key
MAPBOX_ACCESS_TOKEN=your_mapbox_access_token
GITHUB_ISSUES_TOKEN=github_pat_with_issues_write_permission
GITHUB_ISSUES_REPOSITORY=soranjiro/tabitabi

VITE_PUBLIC_GA_ID=G-XXXXXXXXXX
